{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="text-center">
    <h1>{{ user.username }}'s Video Themes</h1>
    <a href="{% url 'create_theme' %}" class="btn btn-primary">Create New Theme</a>
  </div>

    {% for theme in themes %}

<h2><a href="{% url 'detail_theme' theme.id %}">{{ theme.title }}</a></h2>

<a href="{% url 'update_theme' theme.id %}" class="btn btn-primary">Edit Theme</a>
<a href="{% url 'add_video' theme.id %}" class="btn btn-primary">Add Video</a>
<a href="{% url 'delete_theme' theme.id %}" class="btn btn-danger">Delete Theme</a>

    <div class="row">
      {% for video in theme.video_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>


    {% endfor %}

</div>

{% endblock %}
