{% extends 'base.html' %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Share your favorite Videos with the World!</h1>
    <p class="lead text-muted">Create video themes and add your favorite YouTube videos.</p>
    <p>
      <a href="{% url 'create_theme' %}" class="btn btn-primary">Get Started</a>
    </p>
  </div>
</section>
<div class="container">
  <h1 class="text-center">Recent Video Themes</h1>
  {% for theme in recent_themes %}

<h2><a href="{% url 'detail_theme' theme.id %}">{{ theme.title }}</a></h2>

  <div class="row">
    {% for video in theme.video_set.all %}
    <div class="col-md-4 mt-3">
      <div class="card mb-4 shadow-sm">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text">{{ video.title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  {% endfor %}

</div>

{% endblock %}
